h1 {
    font-style: normal;
}

body {
    min-width: 820px;
}

#player {
    margin: auto;
    height: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container * {
    margin: 10px;
}

section {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

ul {
    font-size: large;
    line-height: 1.6;
}